baseURL: "https://hugo-profile.netlify.app"
languageCode: "en-us"
title: "Brant Walker"
theme: "hugo-profile"

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"
    
Paginate: 3
enableRobotsTXT: true
# disqusShortname: your-disqus-shortname
# googleAnalytics: G-MEASUREMENT_ID

markup:
  goldmark:
    renderer:
      unsafe: true

# Menus:
  # main:
    # - identifier: blog
    #   name: Blog
    #   title: Blog posts
    #   url: /blogs
    #   weight: 1
    # - identifier: Projects
    #   name: Projects
    #   title: Project Descriptions
    #   url: /projects
    #   weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Brant Walker"
  description: BJW website
  # staticPath: ""  # The path to serve the static files from
  favicon: "/images/windwinter.jpg"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # color:
  #   textColor:
  #   secondaryTextColor:
  #   backgroundColor:
  #   secondaryBackgroundColor:
  #   primaryColor:
  #   secondaryColor:

  #   darkmode:
  #     textColor:
  #     secondaryTextColor:
  #     backgroundColor:
  #     secondaryBackgroundColor:
  #     primaryColor:
  #     secondaryColor:

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    brandLogo: "/images/windwinter.jpg" # Logo for the brand | default is the favicon variable
    brandName: "Brant Walker" # Brand name for the brand | default is the title variable
    disableSearch: false
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: false
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Brant Walker."
    # subtitle: "Aspiring economist."
    content: "A small town Iowan passionate about understanding economic decision making in environmental settings."
    image: ""
    button:
      enable: true
      name: "CV"
      url: "https://github.com/brantwalker/BJWwebsite/blob/main/Files/CV.pdf"
      download: false
      newPage: true
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: "https://github.com/brantjwalker"
        - icon: fab fa-twitter
          url: "https://twitter.com/brantjwalker"
      # customIcons:
      #   - icon: /fav.png
      #     url: "https://example.com"
  
  # About
  about:
    enable: true
    title: "About Me"
    image: "/images/BJWheadshot_square.png"
    content: |-
       I am a Pre-doctoral Research Fellow at the National Bureau of Economic Research, based at the University of California, Berkeley, where I work with Professor Joseph Shapiro. Previously, I worked at the <a href="https://siepr.stanford.edu/programs/predoctoral-research-fellowship-opportunities">Stanford Institute for Economic Policy and Research</a>, and the <a href="https://www.heal-project.eu/"> University of Mannheim</a>. I graduated with highest distinction from the University of Iowa with a B.S. in Mathematics and Economics in 2021.
            
        My fields of interest are environmental/public economics, industrial organization, and health. In general, I focus on incentives in environmental settings. These incentives are created by interactions of natural resource availability, instutitutional policy, and market structures. 
            
        I will be attending Yale University's School of the Environment starting in Fall 2024 as an NSF Graduate Student Fellow.  

        <u>**Experience**</u>
        
        2023 - Present: Pre-doctoral Research Fellow at National Bureau of Economic Research, University of California, Berkeley.  
        2022 - 2023: Research Fellow at Stanford Institute for Economic Policy and Research.  
        2021 - 2022: Fulbright Research Fellow at Univerist채t Mannheim.  
        2020 - 2021: Undergraduate Research Fellow at Iowa Center for Research by Undergraduates.  
        2020 - 2021: Research Fellow at Public Policy Center at the University of Iowa.  
        
        <u>**Honors, Awards, Grants**</u>
        
        2022: Fulbright Research Grant - Economics.  
        2021: George S. Schaeffer Scholarship in Science. University of Iowa.   
        2021: Dare to Discover - Excellence in Research. University of Iowa.  
        2021: Phi Beta Kappa. University of Iowa.  
        2020: Research Grant. Iowa Center for Research by Undergraduates. $4500  
        2020: Research Grant. Public Policy Center at the University of Iowa. $1500  

        <u>**Published/Forthcoming**</u>
        
        ["Are Earmarks Equally Targeted: Evidence from US Drinking Water", 2024. <i>American Economic Review Papers and Proceedings</i>. (with David A. Keiser, Bhashkar Mazumder, David Molitor, and Joseph S. Shapiro).](https://www.aeaweb.org/articles?id=10.1257/pandp.20241009)
        
        <u>**Other interests**</u>

        Outside of work, I enjoy hiking, camping, long-distance running, and generally breathing fresh air. Also, I play ice-hockey 1-3 times a week and occassionally attend chess clubs. 

        
            

#    # skills:
    #   enable: true
    #   title: "Here are a few technologies I've been working with recently:"
    #   items:
    #     - "HTML"
    #     - "CSS"
    #     - "JavaScript"
    #     - "React"
    #     - "Node"
    #     - "Express"

  # Experience
  experience:
    enable: False
    title: "Experience"
    items:
      - job: "Pre-doctoral Research Fellow"
        company: "NBER/UC Berkeley"
        date: "2023 - Present"
        # featuredLink:
        #   enable: false
        #   name: "WTP for Electricity"
        #   url: "https://web.stanford.edu/group/fwolak/cgi-bin/sites/default/files/energy_service_wang_and_wolak.pdf"
        content: | 
           Pre-doctoral Research Fellow at the National Bureau of Economic Research, based at the University of California, Berkeley.
           
           Skills learned
           
           - Updating and managing the largest dataset every created on drinking water pollution readings in the United States. Covers 330 million readings and over 1200 pollutants over multiple decades.
           - Created output to interpret a novel machine learning model that estimates regulation under the Clean Water Act.
           - Organized GitHub repositories for collaboration across 4 institutions and a half dozen collaborators.
           
      - job: "Research Fellow"
        company: "Stanford University"
        companyUrl: "https://siepr.stanford.edu/people/predoctoral-research-fellows/predoctoral-research-fellowship-program-alumni"
        date: "2022 - 2023"
        featuredLink:
          enable: false
          name: ""
          url: ""
        content: | 
           Research Fellow at the Stanford Institute for Economic Policy and Research
           
           Skills learned
           
           - Designing, coding, and estimating non-linear demand models. 
           - Designing optimal pricing strategies and calculating counterfactual outcomes.

      - job: "Fulbright Research Scholar"
        company: "Universit채t Mannheim"
        companyUrl: "https://www.heal-project.eu/"
        date: "2021 - 2022"
        featuredLink:
          enable: true
          name: "HEAL Project"
          url: "https://www.heal-project.eu/?page_id=306"
        content: |
          Fulbright Research Scholar based at Universit채t Mannheim working with Prof. Ulrich Wagner. 
          
          Skills learned
          
          - Gathering, cleaning, and analyzing environmental data from multiple sources for use in a state-of-the-art chemical transport model.  
          - Attended environmental economics field courses focused on referreeing frontier environmental papers.
          - Attended and presented at seminar workshops.
          
      - job: "Research Fellow"
        company: "University of Iowa"
        companyUrl: "https://icru.research.uiowa.edu/"
        date: "2019 - 2021"
        featuredLink:
          enable: true
          name: "Ignition Interlock Laws"
          url: "https://ppc.uiowa.edu/publications/revisiting-impact-ignition-interlock-devices"
        content: |
          Worked with Prof. Jeff DeSimone (now at Duke University) on public welfare & policy projects, including
          
          - Modeling effect of local labor market conditions on education decisions
          - Estimating impact of higher education on sustainable waste management choices
          - Estimating impact of Ignition Interlock Devices on DUI arrests & motor-vehicle fatalities
          
          Presented work at the WEA 2020, MEA 2021, and SEA 2023 conferences.
          
          
#     # - job: "Software Developer"
      #   company: "Amazon"
      #   companyUrl: "https://example.com"
      #   date: "Sep 2020 - Dec 2021"
      #   featuredLink:
      #     enable: true
      #     url: "https://example.com"
      #   info:
      #     enable: true
      #     content: I worked as a software developer for more than one year in Amazon.
      #   content: |
      #     I am currently working as a software developer at [example org.](https://example.com) in San Francisco, CA. I am currently working on a project that will be used to help people find the best way to get around the city.
      # 
      #     - Lead backend developer for a product.
      #     - Created a frontend design for a product.



  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Bachelor of Science in Mathematics & Economics"
        school:
          name: "Univeristy of Iowa"
          url: "https://clas.uiowa.edu/"
        date: "2017 - 2021"
        GPA: "4.0 out of 4.0"
        content: |-
          Graduated with 
          - Highest Distinction (top 2% of class) 
          - Honors in Economics
          - Dare to Discover - Excellence in Research
          - Minor in Philosophy

        featuredLink:
          enable: true
          name: "Iowa Transcript"
          url: "https://github.com/brantwalker/BJWwebsite/blob/main/Files/IowaFinalTranscript.pdf"
          
      - title: "Fulbright Research Grant"
        school:
          name: "Univerist채t Mannheim"
          url: "https://us.fulbrightonline.org/"
        date: "2021 - 2022"
        featuredLink:
          enable: false
          name: "Press Release"
          url: "https://tippie.uiowa.edu/news/2021/05/congratulations-our-2021-fulbright-award-recipient-brant-walker"
        content: |-
          Participated in graduate economics courses and reading groups responding to frontier papers in a "Referee Report" format. 
          
          Attended and presented at Environmental Economics Seminar/Workshop.
          
          
      - title: "SIEPR Program"
        school:
          name: "Stanford University"
          url: "https://siepr.stanford.edu/"
        date: "2022 - 2023"
        content: |-
          Non-matriculated graduate student. 
          
          Attended Industrial Organization and Public & Environmental Seminars.
          
        featuredLink:
          enable: true
          name: "Stanford Transcript"
          url: "https://github.com/brantjwalker/BJWwebsite/blob/main/Files/stanfordTranscript.pdf"
        

  # Achievements
  # achievements:
  #   enable: true
  #   # title: "Custom Name"
  #   items:
  #     - title: Google kickstart runner
  #       content: I solved all problems with optimal solution.
  #       url: https://example.com
  #     - title: Facebook Hackathon Winner
  #       content: Developed a product using Artificial Intelligence.
  #     - title: Hugo Profile
  #       content: Developed a theme and getting 1K+ downloads per month.
  #       url: "https://github.com/gurusabarish/hugo-profile"
  #     - title: Microsoft Imagine Runner
  #       content: We are developed a product which can help others.
  #     - title: Google Summer of Code
  #       content: Contributed to a open source project.
  #       url: https://example.com

  # projects
  projects:
    enable: false
    # title: "Custom Name"
    items:
      - title: Image Converter
        content: A web app to convert image to pdf, png to jpg, png to jpg and png to webp without database using django.
        image: /images/projects/converter.jpg
        featured:
          name: Demo
          link: https://django-converter.herokuapp.com
        badges:
          - "Django"
          - "Bootstrap"
        links:
          - icon: fab fa-github
            url: https://github.com/gurusabarish/converter

      - title: Hugo Profile V2
        content: A clean and simple Hugo template for personal portfolio and blog.
        image: /images/projects/profile2.jpg
        featured:
          name: Demo V2
          link: https://hugo-profile-2.netlify.app
        badges:
          - "Hugo"
          - "Bootstrap"
          - "Javascript"
        links:
          - icon: fab fa-github
            url: https://github.com/gurusabarish/HugoProfileV2

  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    # content: 
    email: brantjwalker@berkeley.edu
    btnName: Mail me

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: false
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com
      linkedin: https://linkedin.com
      twitter: https://twitter.com

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false
    
